<div class="flex justify-center items-center bg-gray-300 h-screen">
  <div class="flex h-120 w-110 overflow-hidden rounded-l-xl">
    <img
      src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/patternImg.f93bd17c.svg"
      alt=""
      class="w-130 h-120"
    />
    <div class="absolute px-10 py-16">
      <div>
        <h1 class="text-white text-3xl font-medium">Simple, Free</h1>
        <h1 class="text-white text-3xl font-medium">Investing.</h1>
      </div>
      <div class="h-1.5 mt-60 w-32 bg-white rounded-full animate-line"></div>
      <div class="mt-4">
        <p class="text-2xl font-semibold text-white animate-smooth-blink">{{ blinkData() }}</p>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-r-xl h-116.5 w-110">
    <div class="flex flex-col w-full items-center px-8 py-12">
      <h1 class="text-3xl font-medium text-gray-700">Welcome to Groww</h1>
      <h1 class="text-3xl font-medium text-gray-700">Login</h1>
    </div>

    <form
      [formGroup]="myForm"
      class="flex flex-col w-full h-30 items-center justify-center gap-8 py-4"
    >
      <input
        type="email"
        placeholder="Your Email Address"
        class="px-2 py-3 text-sm border border-gray-300 rounded-md w-80"
        formControlName="email"
      />
      @if (email?.hasError('required') && (email?.dirty || email?.touched)) {
        <p class="text-xs absolute right-95 text-red-700 top-72">Email is Required</p>
      } @else if (email?.hasError('email') && (email?.dirty || email?.touched)) {
        <p class="text-xs absolute right-94 text-red-700 top-72">Enter a Valid email</p>
      }
      <input
        type="password"
        placeholder="Your Password"
        class="px-2 py-3 text-sm border border-gray-300 rounded-md w-80"
        formControlName="password"
      />
      @if (password?.hasError('required') && (password?.dirty || password?.touched)) {
        <p class="text-xs absolute right-91 text-red-700 top-92">Password is Required</p>
      } @else if (password?.hasError('minlength') && (password?.dirty || password?.touched)) {
        <p class="text-xs absolute right-90 text-red-700 top-92">Enter a Valid Password</p>
      }
    </form>

    <div class="absolute right-86">
      <h1 class="text-sm text-red-700">{{ errorMsg() }}</h1>
    </div>
    <div class="flex flex-col gap-2 w-full h-30 items-center justify-center pt-35">
      <div
        class="bg-[#02B686] hover:bg-[#05af82] rounded-md w-84 px-1 py-2.5 text-center cursor-pointer"
      >
        <h1 class="text-sm font-medium text-white" (click)="onSignIn()">Sign In</h1>
      </div>
      <div class="flex gap-1">
        <h1 class="text-gray-700 text-xs font-light">By proceeding, I agree to</h1>
        <h1 class="underline cursor-pointer text-gray-700 text-xs font-light">T&C</h1>
        <h1 class="text-gray-700 text-xs font-light">,</h1>
        <h1 class="underline cursor-pointer text-gray-700 text-xs font-light">Privacy Policy,</h1>
        <h1 class="text-gray-700 text-xs font-light">&</h1>
        <h1 class="underline cursor-pointer text-gray-700 text-xs font-light">Tariff Rates</h1>
      </div>
    </div>
  </div>
</div>
