<div class="bg-white py-25">
  <div class="flex gap-1 justify-center items-center">
    <div>
      <img
        src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/UnionImage.911dfe4b.webp"
        alt=""
        class="h-8"
      />
    </div>
    <div class="text-center">
      <h1 class="font-medium text-gray-400">India's #1</h1>
      <h1 class="font-medium text-gray-400">Investing Platform</h1>
    </div>
    <div>
      <img
        src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/UnionImage.911dfe4b.webp"
        alt=""
        class="h-8 -scale-x-100"
      />
    </div>
  </div>
  <div class="flex gap-2 items-center justify-center">
    <div class="w-28 h-0.5 bg-gray-300"></div>
    <h1 class="text-xs text-gray-400 font-light">Trusted by 2 Cr+ active investors</h1>
    <div class="w-28 h-0.5 bg-gray-300"></div>
  </div>
  <div class="text-center">
    <h1 class="text-[40px] py-10 font-bold">India's stock market at your fingertips</h1>
  </div>
  <div class="flex mx-26 gap-1">
    <div class="flex flex-col gap-3">
      <div
        class="flex flex-col items-center justify-center border border-gray-600 rounded-3xl w-130 h-fit overflow-hidden"
      >
        <div>
          <h1 class="text-2xl font-medium pt-4 pb-5">Stocks</h1>
        </div>
        <div>
          <img
            src="https://resources.groww.in/web-assets/story_assets/landing-page/home_page/stocks_placeholder.webp"
            alt=""
            class="h-100"
          />
        </div>
      </div>
      <div class="relative w-132 h-56 group cursor-pointer overflow-hidden">
        <img
          src="https://resources.groww.in/web-assets/story_assets/landing-page/home_page/bonds_base_image.webp"
          alt="Bonds"
          class="absolute inset-0 w-full h-full object-contain transition-opacity duration-500 group-hover:opacity-0"
        />
        <img
          src="https://resources.groww.in/web-assets/story_assets/landing-page/home_page/bonds_hover_image.webp"
          alt="Bonds Hover"
          class="absolute inset-0 w-full h-full object-contain opacity-0 transition-opacity duration-500 group-hover:opacity-100"
        />
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-8 border border-gray-600 rounded-3xl items-center h-56 w-132">
        <div class="text-center pt-4">
          <h1 class="text-2xl">ETFs</h1>
          <h1 class="text-sm text-gray-500">Gold, Silver, International & Index ETFs</h1>
        </div>
        <div class="flex gap-8">
          <img
            src="https://resources.groww.in/web-assets/story_assets/landing-page/home_page/gold_funds.svg"
            alt=""
          />
          <img
            src="https://resources.groww.in/web-assets/story_assets/landing-page/home_page/silver_funds.svg"
            alt=""
          />
          <img
            src="https://resources.groww.in/web-assets/story_assets/landing-page/home_page/international_funds.svg"
            alt=""
          />
          <img
            src="https://resources.groww.in/web-assets/story_assets/landing-page/home_page/index_funds.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center border border-gray-600 rounded-3xl w-132 h-fit overflow-hidden"
      >
        <div>
          <h1 class="text-2xl font-medium pt-4 pb-5">IPOs</h1>
        </div>
        <div>
          <img
            src="https://resources.groww.in/web-assets/story_assets/landing-page/home_page/ipo_placeholder.webp"
            alt=""
            class="h-100"
          />
        </div>
      </div>
    </div>
  </div>
</div>
