<!-- Background overlay -->
<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
  <!-- Modal -->
  <div class="bg-white rounded-2xl w-100 px-8 py-4 relative shadow-xl">
    <!-- Heading -->
    <div>
      <div class="flex justify-center p-2">
        <i class="fa-regular fa-circle text-6xl text-emerald-500"></i>
        <i class="fa-solid fa-lock text-3xl text-emerald-500 absolute top-9"></i>
      </div>
      <h2 class="text-lg font-semibold text-center text-gray-800">Enter Groww PIN</h2>
    </div>

    <!-- Description -->
    <p class="text-center text-gray-500 mt-5 text-xs">
      We Value Security, PIN helps keep your investments safe & secure.
    </p>

    <!-- OTP Inputs -->
    <form [formGroup]="myForm" class="flex flex-col items-center justify-center gap-3 mt-10">
      <input
        type="text"
        placeholder="Verify Pin"
        class="px-4 py-2 text-sm border border-gray-300 rounded-md w-50"
        maxlength="4"
        formControlName="inputPIN"
        (input)="onVerify()"
      />
      @if (inputPIN?.hasError('required') && (inputPIN?.dirty || inputPIN?.touched)) {
        <p class="text-xs text-red-700 text-center">PIN is Required</p>
      }
      @if (inputPIN?.hasError('pattern') && (inputPIN?.dirty || inputPIN?.touched)) {
        <p class="text-xs text-red-700 text-center">Enter a Valid PIN</p>
      }
    </form>

    <!-- Email + logout -->
    <div class="text-center mt-6 text-gray-400">
      <span class="text-xs">s**************s@gmail.com</span>

      <button class="text-emerald-500 font-medium ml-2 text-xs hover:underline">Logout</button>
    </div>
  </div>
</div>
